@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-custom-black: #363740;
        --color-custom-blue: #3751ff;
        --color-custom-gray: #d4d5dd;
        --color-custom-muted: #bfc1ca;
    }
}
